:root{
    --fundo: #503C3C;
    --sombra: #3E3232;
    --verso: #6b5050;
    --frente: #ffdcdc;

}

body{
    background-color:  var(--fundo);
}

footer{
    background-color: black;
    color: var(--frente);
    position: fixed;
    bottom: 0;
}